<!DOCTYPE html>
<html>
<head>
    <title>Career Predictor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">

<div class="container mt-5">
    <div class="card p-4 shadow">

        <h2 class="text-center mb-4">🎯 Career Predictor</h2>

        <form method="POST" action="/predict/">
            {% csrf_token %}

            <div class="mb-3">
                <label>Skills (comma separated)</label>
                <input type="text" name="skills" class="form-control" placeholder="python sql excel">
            </div>

            <div class="mb-3">
                <label>Experience (years)</label>
                <input type="number" name="experience" class="form-control">
            </div>

            <div class="mb-3">
                <label>Education</label>
                <input type="text" name="education" class="form-control" placeholder="BTech">
            </div>

            <button type="submit" class="btn btn-primary w-100">Predict Career</button>
        </form>

    </div>
</div>

</body>
</html>